html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .productos {
    flex: 1;
  }
  
  .carousel-inner {
    height: 100px; 
  }
  
  .carousel-img {
    height: 100px;
    width: 100%;
    object-fit: contain;
    background-color: #000; /* Opcional: fondo si hay espacio vacío */
  }
  