<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">BIENVENIDO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/Pages/Lub.html">LUBRICANTES</a></li>
                <li class="nav-item"><a class="nav-link" href="/Pages/len.html">LENCERIA</a></li>
                <li class="nav-item"><a class="nav-link" href="/Pages/mas.html">BONDAGE</a></li>
                <li class="nav-item"><a class="nav-link" href="/Pages/jugue.html">JUGUETES</a></li>
            </ul>
        </div>
    </div>
</nav>